{% extends 'base1.html' %}
{% load static %}
{% block content %}


      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Creat A Product  </h1>
        </section>
      </section>
      <section class="content">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements disabled -->
          <div style="background:url('/static/rexroth_images/logo.png'); background-size: contain;background-color: rgba(255,255,255,0.8); background-blend-mode: lighten;">
                <div class="box-body">
                  <form role="form" method="post">
                    {% csrf_token %}
                    <!-- text input -->
                {% for field in form %}
                <div class="form-group">
                  <label>{{ field.label }}</label></br>
                  {{ field }}
                  {% if field.errors %}
                    {% for error in field.errors %}
                  <span class='text-danger'><b>{{error}}</b></span>
                    {% endfor %}
                  {% endif %}
                </div>
                {% endfor %}
                        <button class="btn btn-block btn-danger btn-lg">Create The Product
                    </button>  
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!--/.col (right) -->
          </div>   <!-- /.row -->
          </div>
        </section><!-- /.content -->
      </div>
    
  {% endblock %} 