{% extends 'base1.html' %}
{%load staticfiles%}

{% block content %}


      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Yeni ürün kontrolü başlat
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="#">asdasd</a></li>
          </ol>
        </section>

      </section>
      <section class="content">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements disabled -->
              <div class="box box-warning">
                <div class="box-body">
                  <form role="form" method="post">
                    {% csrf_token %}
                    <!-- text input -->
                {% for field in form %}
                <div class="form-group">
                  <label>{{ field.label }}</label></br>
                  {{ field }}
                  {% if field.errors %}
                    {% for error in field.errors %}
                  <span class='text-danger'><b>{{error}}</b></span>
                    {% endfor %}
                  {% endif %}
                </div>
                {% endfor %}
                        <button class="btn btn-block btn-danger btn-lg">Ürünü oluştur
                    </button>  
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!--/.col (right) -->
          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div>
    
  {% endblock %} 