{% extends 'base1.html' %}
{%load staticfiles%}


{% block content %}

      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Süreç Oluşturma Paneli
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="#">Süreç oluştur</a></li>
          </ol>
        </section>

      </section>
      <section class="content">
          <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="ion ion-ios-gear-outline"></i></span>
                  <div class="info-box-content">
                    <a href="{% url 'create-process1'%}"><span class="info-box-number">1.Süreç</span></a>
                  </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
              </div><!-- /.col -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="ion ion-ios-gear-outline"></i></span>
                  <div class="info-box-content">
                    <a href="{% url 'create-process2'%}"><span class="info-box-number">Ön Montaj</span></a>
                  </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
              </div><!-- /.col -->
  
              <!-- fix for small devices only -->
              <div class="clearfix visible-sm-block"></div>
  
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="ion ion-ios-gear-outline"></i></span>
                  <div class="info-box-content">
                    <a href="{% url 'create-process3'%}"><span class="info-box-number">3.Süreç</span></a>

                <!---EĞER ÜRÜN BUTONUNA BOYAMA VS. SÜREÇİ ANLATAN YAZI YAZACAKSAM BU SATIRI AL
                  <span class="info-box-text">Altıncı süreç ismi gelecek</span>
                -->  

                  </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
              </div><!-- /.col -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="ion ion-ios-gear-outline"></i></span>
                  <div class="info-box-content">
                    <a href="{% url 'create-process4'%}"><span class="info-box-number">4.Süreç</span></a>
                  </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
              </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="ion ion-ios-gear-outline"></i></span>
                  <div class="info-box-content">
                    <a href="{% url 'create-process5'%}"><span class="info-box-number">5.Süreç</span></a>
                  </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
              </div><!-- /.col -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="ion ion-ios-gear-outline"></i></span>
                  <div class="info-box-content">
                    <a href="{% url 'create-process6'%}"><span class="info-box-number">6.Süreç</span></a>
                  </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
              </div><!-- /.col -->
  
              <!-- fix for small devices only -->
              <div class="clearfix visible-sm-block"></div>
  
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="ion ion-ios-gear-outline"></i></span>
                  <div class="info-box-content">
                    <a href="{% url 'create-process7'%}"><span class="info-box-number">7.Süreç</span></a>
                  </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
              </div><!-- /.col -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="ion ion-ios-gear-outline"></i></span>
                  <div class="info-box-content">
                    <a href="{% url 'create-process8'%}"><span class="info-box-number">8.Süreç</span></a>
                  </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
              </div><!-- /.col -->
            </div><!-- /.row -->
            
        </section><!-- /.content -->
      </div>


{% endblock %} 