{% extends 'base1.html' %}
{% load static %}
{% block title %} {{ name}} {% endblock %}
{% block content %}

<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header"
    style="">
    <h1 >
      {{name}} 
    </h1>
      <a href="{% url 'create-product'%}" class="btn btn-danger" style="margin-left:0.5%">New Product</a> <br>

  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements disabled -->
        <div class="box">
          <div style="background:url('/static/rexroth_images/logo.png'); background-size: contain; background-color: rgba(255,255,255,0.8); background-blend-mode: lighten;">
            <div class="box-body">
              <font size="4" ;>
              <div style="width:100%;" class="table-responsive">

                <table id="example1" class="table table-bordered " style="font-weight:bold">
                  <thead>
                    <tr>
                      <th>Customer Order No:</th>
                      <th>Order Pos. No:</th>
                      <th>Reference No:</th>
                      <th>Hydraulic Circuit No:</th>
                      <th>Oil Tank Ref. No:</th>
                      <th>Oil Tank Drawing No:</th>
                      <th>Oil Tank Volume(lt)</th>
                      <th>Quantity</th>
                      <th>Working Pressure (Bar)</th>
                      <th>Test Pressure (Bar)</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>

                      {% for product in all_products %}
                      <td>
                      <a href={% url "info-product" product.pk%}><i class="fa fa-info-circle"></i></a>
                      <a href="{% url "detail-product" product.pk %}">{{product.slug}} </a></td>

                      <td>{{product.order_position_no}}</td>
                      <td>{{product.reference_no}}</td>
                      <td>{{product.circuitno}}</td>
                      <td>{{product.tank_reference_no}}</td>
                      <td>{{product.imageno}}</td>
                      <td>{{ product.volume }}</td>
                      <td>{{ product.quantity }}</td>
                      <td>{{ product.working_pressure }}</td>
                      <td>{{product.test_pressure}}</td>

                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
            </div>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div> <!-- /.row -->
  </section><!-- /.content -->
</div>


{% endblock %}