{% extends 'base1.html' %}
{% load static %}
{% block content %}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Delete process 7 of {{ process.product }} 
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-block btn-default btn-lg"><a href="{% url 'update-process7' process.pk %}">Update Process</a></button>
        <button class="btn btn-block btn-default btn-lg"><a href="{% url 'delete-process7' process.pk %}">Delete Process</a></button><br>
        <button class="btn btn-block btn-default btn-lg"><a href="{% url 'detail-product' product.pk %}">Return to Process Page</a></button>

      </div>
      <div class="col-md-3">
        <div class="box-body">
          <dl>
            <dt>Oluşturan Kişi</dt>
            <dd>{{ process.created_by }}</dd>
            <dt>Ürün Durumu</dt>
            <dd>{{ process.status }}</dd>
            <dt>Sipariş Poziyon Numarası</dd>
            <dd>{{ process.order_position_no }}</dt>
            <dt>Miktar</dd>
            <dd>{{ process.quantity }}</dt>
            <dt>Oluşturan Kişi</dt>
            <dd>{{ process.created_by }}</dd>
            <dt>Ürün Durumu</dt>
            <dd>{{ process.status }}</dd>
            <dt>Sipariş Poziyon Numarası</dd>
            <dd>{{ process.order_position_no }}</dt>
            <dt>Miktar</dd>
            <dd>{{ process.quantity }}</dt>                  
          </dl>
        </div><!-- /.box-body -->
      </div>

</section>

</div>
    
{% endblock %} 