<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <font size="4" face="Ariel">

        <h2 style="text-align: center;">Son Kalite Kontrol Formu - ÜNITE (QG5)</h2>
        <table cellspacing=0, border=1>
            <tr>
                <td style="padding: 2px;">Tarih : </td>
                <td>{{tarih}}</td>
            </tr>

            <tr>
                <td style="padding: 2px;"> Müsteri Siparis No : </td>
                <td>{{müsteri_siparis_no}}</td>
            </tr>
            <tr>
                <td style="padding: 2px;">Üretim Siparis No : </td>
                <td>{{üretim_siparis_no}}</td>
            </tr>

            <tr>
                <td style="padding: 2px;">Ident No :</td>
                <td>{{ident_no}}</td>
            </tr>

            <tr>
                <td style="padding: 2px;">Resim No :</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Adet : </td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Montaji Yapan:</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Testi Yapan:</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Kontrol Kriterleri</td>
                <td style="text-align: center;"><b>Kapsam Disi |OK |RED </b></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Temizlik, Boya Dökülmesi Çapak, Yag tavasinda ve tanik yüzeyinde yag</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Darbe, Pas</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Açik hatlar uygun kapaklarla kapatilmistir</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Eksik Malzeme</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Hortum Basinç Degeri ve Hortum Kelepçesi</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Boya Kalinligi </td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">UYARI Etiketleri (Elektrik motoru dönüs yönü, Akü çalisma basinci)</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Basinç Filtresi</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Yag Kacagi (Koir tapa kullanimi)</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Dokümantasyon</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Kaldirma Kulaklari</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Ünite Etiketi</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Etikete Numaratör Vurulmus mu?</td>
                <td></td>
            </tr>

            <tr>
                <td style="padding: 2px;">Tank yaninda gidecek malzemelerin paketlenmesi</td>
                <td></td>
            </tr>
        </table>
    

        <h4>Aciklama: </h4>
        <br>
        <textarea cols="50" rows="5" ></textarea>
        <br><br>

        <table style="width:100%" , cellspacing=0, border=1>
            <tr>
                <th style="padding: 2px;">Karar</th>
                <th>OK</th>
                <th colspan="2">EK ISLEM (REXROTH)</th>
            </tr>
            <tr>
                <td style="padding: 2px;">Kontrol Eden:</td>
                <td></td>
                <td style="padding: 2px;">Onaylayan: </td>
                <td></td>

            </tr>
            <tr>
                <td style="padding: 2px;">Bosch Rexroth Gebze</td>
                <td></td>
                <td style="padding: 2px;">Revizyon:</td>
                <td>Tarih:</td>
            </tr>
            <tr>
                <td style="padding: 2px;">SK. No: 10 41420, <br>Çayirova/Kocaeli</td>
                <td style="padding: 2px;">Yayinlayan</td>
                <td></td>
                <td></td>
            </tr>
        </table>
        </div>

</body>

</html>