{% load static %}
{% load pdf_filters %}


<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div class="content" style="border:ridge">
        <b>
            <h3 style="text-align: center;">Son Kalite Kontrol Formu - ÜNİTE (QG5)</h3>
        </b>
        <div class="row">
            <table cellspacing=0, border=1 style=" margin-left:3%; margin-right:7%; width:90%">
                <tr>
                    <td>Tarih : </td>
                    <td></td>
                </tr>

                <tr>
                    <td> Müşteri Sipariş No : </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Üretim Sipariş No : </td>
                    <td></td>
                </tr>

                <tr>
                    <td>İdent No :</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Resim No :</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Adet : </td>
                    <td></td>
                </tr>

                <tr>
                    <td>Montajı Yapan:</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Testi Yapan:</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Kontrol Kriterleri</td>
                    <td style="text-align: center;"><b>Kapsam Dışı |OK |RED </b></td>
                </tr>

                <tr>
                    <td>Temizlik, Boya Dökülmesi Çapak, <br>Yağ tavasında ve tanık yüzeyinde yağ</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Darbe, Pas</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Açık hatlar uygun kapaklarla kapatılmıştır</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Eksik Malzeme</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Hortum Basınç Değeri ve Hortum Kelepçesi</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Boya Kalınlığı </td>
                    <td></td>
                </tr>

                <tr>
                    <td>UYARI Etiketleri <br> (Elektrik motoru dönüş yönü, Akü çalışma basıncı)</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Basınç Filtresi</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Yağ Kaçağı (Kör tapa kullanımı)</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Dokümantasyon</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Kaldırma Kulakları</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Ünite Etiketi</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Etikete Numaratör Vurulmuş mu?</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Tank yanında gidecek malzemelerin paketlenmesi</td>
                    <td></td>
                </tr>
            </table>
        </div>
        <br>

        <div class="row">
            <a style=" margin-left:3%; margin-right:7%"><b>Açıklama:</b> </a>
            <br>
            <textarea style="margin-left: 3%;" name="message" rows="10" cols="116"></textarea>
            <br><br>
        </div>
        <div class="row">
            <table cellspacing=0, border=1 style="margin-left: 3%; width:90%">
                <tr>
                    <th>Karar</th>
                    <th>OK</th>
                    <th colspan="2">EK İŞLEM (REXROTH)</th>
                </tr>
                <tr>
                    <td>Kontrol Eden:</td>
                    <td></td>
                    <td>Onaylayan: </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Bosch Rexroth Gebze</td>
                    <td></td>
                    <td>Revizyon:</td>
                    <td>Tarih:</td>
                </tr>
                <tr>
                    <td>SK. No: 10 41420,<br> Çayırova/Kocaeli</td>
                    <td>Yayınlayan</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>