{% extends 'base1.html' %}
{%load staticfiles%}

{% block content %}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ process.product }} ürünün 2.süreci
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
      <li><a href="#">Ürün oluştur</a></li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-block btn-default btn-lg"><a href="{% url 'update-process2' process.pk %}">Ürünü Güncelle</a></button>
        <button class="btn btn-block btn-default btn-lg"><a href="{% url 'delete-process2' process.pk %}">Ürünü Sil</a></button><br>
        <button class="btn btn-block btn-default btn-lg"><a href="{% url 'detail-product' product.pk %}">Ürün Sayfasına Dön</a></button>

      </div>
      <div class="col-md-3">
        <div class="box-body">
          <dl>
            <dt>Oluşturan Kişi</dt>
            <dd>{{ process.created_by }}</dd>
            <dt>Ürün Durumu</dt>
            <dd>{{ process.status }}</dd>
            <dt>Sipariş Poziyon Numarası</dd>
            <dd>{{ process.order_position_no }}</dt>
            <dt>Miktar</dd>
            <dd>{{ process.quantity }}</dt>
            <dt>Oluşturan Kişi</dt>
            <dd>{{ process.created_by }}</dd>
            <dt>Ürün Durumu</dt>
            <dd>{{ process.status }}</dd>
            <dt>Sipariş Poziyon Numarası</dd>
            <dd>{{ process.order_position_no }}</dt>
            <dt>Miktar</dd>
            <dd>{{ process.quantity }}</dt>                  
          </dl>
        </div><!-- /.box-body -->
      </div>

</section>

</div>
    
{% endblock %} 