{% extends 'base1.html' %}
{%load staticfiles%}

{% block content %}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ process.product }} Ürünü
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
      <li><a href="#">Ürün Güncelle</a></li>
    </ol>
  </section>
  <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="box box-warning">
            <div class="box-body">
              <form action="{% url 'update-process1' process.pk %}" method="post">
                  {% csrf_token %}
                    <!-- text input -->
                {% for field in form %}
                <div class="form-group">
                  <label>{{ field.label }}</label></br>
                  {{ field }}
                </div>
                {% endfor %}
                <button class="btn btn-block btn-danger btn-lg">Raporu Tamamla</button>  
              </form>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!--/.col (right) -->
      </div>   <!-- /.row -->
    </section><!-- /.content -->

    
{% endblock %} 