{% extends 'base_accounts.html' %}
{% load static %}

{% block title %}Sisteme Giriş | RexrothAPP{% endblock %}

{% block content %}
  </head>
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href=""><b>Rexroth</b>APP</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Bosch Rexroth Quality Control Application</p>

        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-dismissible alert-danger">
              <a href="#" class="close" data-dismiss='alert' aria-label="close"></a>
              {{error|safe}}
            </div>
          {% endfor %}
        {% endif %}

        <form role="form" action="{% url 'user-login' %}" method="post">
            {% csrf_token %}
                <!-- text input -->
            {% for field in form %}
            <div class="form-group">
              <label>{{ field.label }}</label></br>
              {{ field }}
              {% if field.errors %}
                {% for error in field.errors %}
              <span class='text-danger'><b>{{error}}</b></span>
                {% endfor %}
              {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block btn-flat">Log in</button>
          </form>
          <br>
          <button  onclick="window.location.href='{% url 'admin:index' %}' " class="btn btn-primary btn-block btn-flat">Admin Panel</button>
          <!-- <button  onclick="window.location.href='{% url 'password_reset' %}' " class="btn btn-primary btn-block btn-flat">Reset Password</button>-->
<br>
        <span>If you have forgotten your password, contact OMM.</span>    
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
{% endblock %}