{% extends 'base1.html' %}
{% load static %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Dashboard
      <small>Location: Gebze</small>
    </h1>
  </section>

  <section class="content">
    <div class="row">

      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
          <div class="inner">
            <h3>{{ total_product }}</h3>
            <p>Total product quantity</p>
          </div>
          <div class="icon">
            <a href="{% url 'create-product'%}"><i class=" ion-ios-outline"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-purple">
          <div class="inner">
            <h3>{{under_control}} </h3>
            <p>Products under control</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-cog-outline"></i>
          </div>
        </div>
      </div><!-- ./col -->

      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{ production_rate }}<sup style="font-size: 20px">%</sup></h3>
            <p>Production rate</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-pie-outline"></i>
          </div>
        </div>
      </div><!-- ./col -->

      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>{{ controlled_product }}</h3>
            <p>Controlled product</p>
          </div>
          <div class="icon">
            <i class="ion ion-checkmark"></i>
          </div>
        </div>
      </div><!-- ./col -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-md-12" style="text-align:center">
        <div class="box">
          <canvas id="population-chart" data-url="{% url 'population-chart' %}"></canvas>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  $(function () {
    var $populationChart = $("#population-chart");
    $.ajax({
      url: $populationChart.data("url"),
      success: function (data) {
        var ctx = document.getElementById('population-chart').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Passing Time (Day)',
              data: data.data,
              backgroundColor: [
                '#002B49','#00CCFF','#A3BAC8','#DF0024','#5A7C91',
                '#002B49','#00CCFF','#A3BAC8','#DF0024','#5A7C91',
              ],
              borderColor: [
                '#002B49', '#00CCFF','#A3BAC8','#DF0024','#5A7C91',
                '#002B49','#00CCFF','#A3BAC8','#DF0024','#5A7C91',
              ],
              borderWidth: 1

            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      }
    });
  });
</script>


{% endblock %}