{% extends 'base_accounts.html' %}
{% load staticfiles %}

{% block title%}Üyelik Kaydı | RexrothAPP{% endblock%}

{% block content %}

  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="{% url 'user-login'%}"><b>Rexroth</b>APP</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Bosch Rexroth Kalite Kontrol Uygulaması</p>

        <form role="form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
                <!-- text input -->
            {% for field in form %}
            <div class="form-group">
              <label>{{ field.label }}</label></br>
              {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block btn-flat">Kayıt Ol</button>
          </form>
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

{% endblock %}
