{% extends 'base1.html' %}
{% load static %}
{% block content %}


<div class="content-wrapper">
    <div style="background:url('/static/rexroth_images/8.JPG'); background-size: contain;background-color: rgba(255,255,255,0.8); background-blend-mode: lighten;">
  <section class="content-header">
    <h1>
      Delete Final Control (QG5) of {{ process.product }}
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-block btn-default btn-lg"><a href="{% url 'update-process8' process.pk %}">Update Process</a></button>
        <button class="btn btn-block btn-default btn-lg"><a href="{% url 'delete-process8' process.pk %}">Delete Process</a></button>
        <button class="btn btn-block btn-default btn-lg"><a href="{% url 'detail-product' product.pk %}">Return to Process Page</a></button>
      </div>
    </div>
    </div>

</section>

</div>
    
{% endblock %} 